<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Employees">
    <select id="Select" parameterType="string" resultType="EmpVO">
        SELECT * FROM springCRUD
    </select>
    
    <insert id="Insert" parameterType="EmpVO">
        INSERT INTO springCRUD (name, salary, designation) VALUES (#{name}, #{salary}, #{designation})
    </insert>
    
    <update id="Edit" parameterType="EmpVO">
    	UPDATE springCRUD set 
    		name = #{name},
    		salary = #{salary},
    		designation = #{designation}
    	where id = #{id}
    </update>
    
    <delete id="Delete">
    	delete from springCRUD where id = #{id}
    </delete>
</mapper>